body {
    /*color: red;*/
}

.js-drag {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px #999 solid;
}

.js-drag form {
    margin: 5px;
    margin-top: 20px;
}

.js-drag .glyphicon-remove {
    float: right;
    margin-right: 1px;
}

.js-drag .glyphicon-remove:hover {
    background-color: red;
    color: white;
}

.js-drag textarea {
    width: 250px;
    height: 150px;
    display: block;
    border: 1px #eee solid;
    font-size: 12px;
}

.js-drag input.submit {
    width: 400px;
    height: 30px;
}
